.git
.gitignore
**/.env
**/.env.*
**/node_modules/
**/dist/
**/__pycache__/
**/*.pyc
switchbot-backend/.venv/
switchbot-backend/*.db
switchbot-backend/.pytest_cache/
switchbot-frontend/coverage/
*.log
